.animateTable {
    td {
        opacity: 0;
    }
    .delay1 {
        animation: opacity 1s ease;
        animation-fill-mode: forwards;
    }
    .delay2 {
        animation: opacity 1.5s ease;
        animation-fill-mode: forwards;
    }
    .delay3 {
        animation: opacity 2s ease;
        animation-fill-mode: forwards;
    }
    .delay4 {
        animation: opacity 2.5s ease;
        animation-fill-mode: forwards;
    }
    .delay5 {
        animation: opacity 3s ease;
        animation-fill-mode: forwards;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
